 .style4
        {
            color: #000000;
            text-align: center;
            font-size: xx-large;
            background-color: #993333;
            height:auto;
        }
          .style41
          {
            color: #000000;
            text-align: center;
            font-size: xx-large;
            background-color: #CC6600;
        }
          .style42
          {
            color: #000000;
            text-align: center;
            font-size: xx-large;
            background-color: #3333FF;  
        }
         .style43
          {
            color: #FFFFFF;
            text-align: center;
            font-size: xx-large;
            background-color: #33CCFF;  
        }
         .style44
          {
            color: #000000;
            text-align: center;
            font-size: xx-large;
            background-color: #00CC00;  
        }
         .style45
          {
            color: #000000;
            text-align: center;
            font-size: xx-large;
            background-color: #CCFF99;  
        }
         .style46
          {
            color: #000000;
            text-align: center;
            font-size: xx-large;
            background-color: #FFFF00;  
        }
         .style5
        {
            font-family: "Calisto MT";
            font-weight: bold;
            background-color: #993333;
        }
         .style6
        {
            font-family: "Calisto MT";
            font-weight: bold;
            background-color: #CC6600;
        }
       
        .style51
        {
            font-size: medium;
            background-color: #CC6600;
        }
        .style51a
        {
            font-size: medium;
            background-color: #993333;
        }
        .style52
        {
            background-color: #CC6600;
        }
        .style53
        {
            font-family: "Calisto MT";
            font-size: xx-large;
            color: #FFFFFF;
            background-color: #3333FF;
        }
        .style54
        {
            font-family: "Calisto MT";
            font-size: medium;
        }
        .style56
        {
            font-family: "Calisto MT";
        }
        td.one
        {
            position: absolute;
            margin-top: 0;
           margin-left: 10px;
        }
         td.two
        {
            position: absolute;
            margin-top: 0;
           margin-left: 150px;
        }
          td.three
        {
            position: absolute;
            margin-top: 0;
           margin-left: 340px;
        }
          td.four
        {
            position: absolute;
            margin-top: 0;
           margin-left: 530px;
        }
          td.five
        {
            position: absolute;
            margin-top: 0;
           margin-left: 670px;
        }
          td.six
        {
            position: absolute;
            margin-top: 0;
           margin-left: 800px;
        }
          td.seven
        {
            position: absolute;
            margin-top: 0;
           margin-left: 960px;
        }
        .style57
        {
            font-family: "Calisto MT";
            font-size: medium;
            color: #FFFFFF;
            background-color: #3333FF;
        }
         .style571
        {
            font-family: "Calisto MT";
            font-size: medium;
            color: #FFFFFF;
            background-color: #33CCFF;
        }
        .style58
        {
            background-color: #33CCFF;
        }
        .style572
        {
            background-color: #00CC00;
        }
        .style573
        {
            color: #000000;
        }
        .style574
        {
            background-color: #CCFF99;
        }
        .style575
        {
            background-color: #FFFF00;
        }
        .style577
        {
            color: #000000;
        }
        #label2
        {
            margin-left: 50px;
        }